/*
Aba de estilização do site da Livraria Encanto Paralelo
@ Adryelle Caroline de  Souza Calefi
@Tabata Etiele Roberto da Silva
*/

/*Adiciona no "corpo do site a imagem de fundo*/
body {
    background-image: url('./imagens/Livraria_frente.png'); /* Caminho da imagem, link da imagem, nesse caso a imagem está salva no computador */
    background-size: cover; /* Faz a imagem cobrir toda a tela ou seja ele expandi para toda a tela, ocupando todo o espaço */
    background-position: center; /* Centraliza a imagem, o eixo dela ficar correto no centro */
    background-repeat: no-repeat; /* Impede que a imagem se repita e dupliqe ao longo da rolagem da página */
    height: 100%; /* Garante que o fundo ocupe toda a altura da tela independe do tamanho da tela*/
    margin: 0; /* Remove margens padrão */
}

/*Adicionando aba com a cor preta com 50% de opacidade, para que fique um pouco mais escura*/
    body::before {
        content: ""; /* Elemento vazio */
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de opacidade */
        z-index: -1; /* Mantém atrás do conteúdo */
    }                
    
/*Adicionar fonte e tamanho do texto inicial, centralizar ele ao meio da tela, como texto inicial*/
h1{
    font-family: 'Cormorant Garamond', serif;
    color : white !important; 
    font-size: 540%;  /* Ajuste para o tamanho desejado */
    text-align: center !important  ; /* Centraliza o texto horizontalmente */
    display: flex;/* Garante que o conteúdo da barra use flexbox */
  
}

/* BOTÃO DE COMPRA*/
.btn {
    width: 100%;
    padding: 12px;
    background-color:#c6a270 !important ;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color:#c6a270 ;
    }

    .btn-compra {
        
        padding: 10px 20px;
        background-color: #c6a270;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        width: 200px;
        height: 70px;
    }
    .nav-link-compra{
        color: black !important;
        font-family: 'Cormorant Garamond', serif;
        font-size: 120% ;
        text-decoration: none; /* Remove o sublinhado do texto */
    }
    .btn-compra:hover {
        background-color: #734e27;
    }
