<!-- Carrosel de imagens na aba de inicio -->
 <main class="w-100 mt-3"> 
    <div id="Carrosel_img_aba" class="carousel slide md-12">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    <!-- Carrosel de imagens na aba de inicio, primeira imagem -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="imagens/Imagem1_carrosel.jpg" class="d-block w-100" alt="Uma cadeira em frente a uma janela rodeada de livros">
        <div class="carousel-caption custom-caption">
          <h5>Bem-vindo à Livraria Encanto Paralelo</h5>
          <p>Um refúgio literário para aqueles que acreditam no poder das histórias. Nossa livraria é um portal para universos fantásticos, conhecimento sem fim e emoções inesquecíveis</p>
        </div>
      </div>

    <!-- Carrosel de imagens na aba de inicio, segunda imagem -->
      <div class="carousel-item">
        <img src="imagens/Imagem2_carrosel.jpg" class="d-block w-100" alt="A entrada de um biblioteca">
        <div class="carousel-caption custom-caption">
          <h5>Aqui, cada estante guarda segredos</h5>
          <p>Cada estante guarda segredos, cada livro é uma aventura esperando para ser vivida e cada leitor encontra um novo caminho para se perder – e se encontrar.</p>
        </div>
      </div>
      <!-- Carrosel de imagens na aba de inicio, terceira imagem -->
      <div class="carousel-item">
        <img src="imagens/Imagem3_carrosel.jpg" class="d-block w-100" alt="Imagem de livros abertos">
        <div class="carousel-caption custom-caption">
          <h5>Você pode ser:</h5>
          <p>Um amante de ficção, um curioso por filosofia ou um explorador de realidades alternativas, a Encanto Paralelo tem um espaço para você. Além de um acervo cuidadosamente selecionado, promovemos encontros literários, clubes de leitura e eventos especiais para transformar a experiência da leitura em algo mágico e compartilhado..</p>
        </div>
      </div>
    </div>
    <!-- Botões de controle do carrosel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#Carrosel_img_aba" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Carrosel_img_aba" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
</main>