/*
Aba de estilização do site da Livraria Encanto Paralelo
Aba de inicio
@ Adryelle Caroline de  Souza Calefi
@Tabata Etiele Roberto da Silva
*/

/*Adiciona no "corpo do site a imagem, como o protótipo*/
body {
    background-image: url('./imagens/Livraria_frente.png'); /* Caminho da imagem, link da imagem, nesse caso a imagem está salva no computador */
    background-size: cover; /* Faz a imagem cobrir toda a tela ou seja ele expandi para toda a tela, ocupando todo o espaço */
    background-position: center; /* Centraliza a imagem, o eixo dela ficar correto no centro */
    background-repeat: no-repeat; /* Impede que a imagem se repita e dupliqe ao longo da rolagem da página */
    height: 100%; /* Garante que o fundo ocupe toda a altura da tela independe do tamanho da tela*/
    margin: 0; /* Remove margens padrão */
}
body::before {
    content: ""; /* Elemento vazio */
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Fundo preto com 50% de opacidade */
    z-index: -1; /* Mantém atrás do conteúdo */
}        

 .carousel-item img {
            height: 90vh;  /* Mantém a altura fixa */
            width: auto;   /* Mantém a largura proporcional */
            max-width: 80%;
            object-fit: contain; /* Mantém a imagem sem cortes */
            display: block;
            margin: auto;  /* Centraliza no carrossel */
        }

        .carousel-caption {
            position: absolute;
            bottom: 0; /* Mantém o texto na parte inferior da imagem */
            transform: translateX(35%); /* Centraliza horizontalmente */
            background: rgba(0, 0, 0, 0.5); /* Fundo escuro translúcido para legibilidade */
            width: 41% ;
            font-family: comorant garamond;
            font-size: 20px;
            color: white;
            padding: 15px;
            text-align: center;
        }

          
        @media (max-width: 768px) {
            .custom-caption h5 {
              font-size: 1rem;
            }
          
            .custom-caption p {
              font-size: 0.875rem;
            }
          
            .carousel-caption {
              position: absolute;
              width: 100%;
              text-align: center;
              transform: translateX(-15%);
              bottom: 10px; /* afasta do final da imagem */
              background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente */
              padding: 10px;
              border-radius: 10px;
            }
          
            .carousel-item img {
              width: 100%;
              height: auto;
            }
          }