
body {
    background-image: url('./imagens/Livraria_frente.png'); /* Caminho da imagem, link da imagem, nesse caso a imagem está salva no computador */
    background-size: cover; /* Faz a imagem cobrir toda a tela ou seja ele expandi para toda a tela, ocupando todo o espaço */
    background-position: center; /* Centraliza a imagem, o eixo dela ficar correto no centro */
    background-repeat: no-repeat; /* Impede que a imagem se repita e dupliqe ao longo da rolagem da página */
    height: 100%; /* Garante que o fundo ocupe toda a altura da tela independe do tamanho da tela*/
    margin: 0; /* Remove margens padrão */
}

/*Adicionando aba com a cor preta com 50% de opacidade, para que fique um pouco mais escura*/
    body::before {
        content: ""; /* Elemento vazio */
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de opacidade */
        z-index: -1; /* Mantém atrás do conteúdo */
    }           
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #d2b48c; /* Cor do fundo externo */
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.coluna {
    flex: 1;
    padding: 20px;
}

.centro {
    flex: 2;
    background-color: #c69c6d;
    padding: 60px;
    border-radius: 10px;
    min-height: 600px;
    font-family: comorant garamond;
    color: #fff;
    font-size: 18px;
    text-align: center;
    width: 100%; /* Garante largura padrão no desktop */
  }
  
#formCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-family:  comorant garamond;
    padding: 10px 50px;
    gap: 5px; /* Adiciona espaçamento entre os elementos */
    border-radius: 10px ;
}
#formCadastro button {
    margin-top: 20px;
    padding: 5px;

}

#btnEnviar{
    background-color: #73c670;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50% ;
}
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .coluna:not(.centro) {
      display: none; /* Esconde apenas as colunas laterais */
    }
  
    .centro {
      flex: none;
      width: 90%; /* Ajusta para mobile */
      margin: 0 auto;
      padding: 30px 20px;
      min-height: auto;
    }
  
    #formCadastro {
      width: 100%;
      padding: 0;
    }
  
    #formCadastro input {
      width: 100%;
    }
  
    .footer {
      text-align: center;
      padding: 20px;
    }
  }

